nav {
  display: flex;
  justify-content: center;
  border: 2px solid white;
  background-color: white;
  padding: 10px;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  font-size: 25px;
}

.header-container img{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-title {
  padding: 10px;
  text-align: right;
  font-size: 70px;
  color: white;
}

a:hover {
  color: rosybrown;
}

body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

article {
  border: 2px solid blanchedalmond;
  border-radius: 25px;
  background: rgb(181,27,137);
  background: linear-gradient(62deg, rgba(181,27,137,1) 0%, rgba(4,172,235,1) 100%);
  padding: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid white;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: rgb(93, 52, 158);
}
      
#about p::first-letter {
  font-size: 2em;
  color: white;
  float: left;
  margin-right: 5px;
}

figure {
  float: right;
  margin-left: 10px;
  text-align: center;
}
      
figcaption {
  font-style: italic;
  display: block;
  clear: both;
  color: white
}
      
.header-container img {
  display: block;
  border-radius: 50% 40%;
  width: 200px;
  height: 150px;
  float: left;
  margin-right: 10px;
}
      
img {
  float: right;
  margin-left: 10px;
  border-radius: 50%;
  width: 200px;
  height: 150px;
}

section {
  border: 2px solid blanchedalmond;
  border-radius: 25px;
  background: rgb(181,27,137);
  background: linear-gradient(62deg, rgba(181,27,137,1) 0%, rgba(4,172,235,1) 100%);
  padding: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
}